
#body{
    background-color: rgba(39, 37, 37, 0.897);
    /* color: green; */
}

.jumbotron{
    margin-top: 2%;
    background-image: url("sound-wave-illustration.jpg"); 
  }

#header{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: none;
}

  .mygrid-wrapper-div {
    border: solid red 5px;
    overflow: scroll;
    /* DO HEIGHT BY MULTIPLES OF 100 SINCE THATS THE HEIGHT OF THE EMBEDED LINK */
    height: 300px;  
    width: 425px;
}